<br />
<br />
<br />
<div class="container">
    Your request is not valid. Errors:

    <ul>
        @foreach (string error in Model)
        {
            <li>@error</li>
        }
    </ul>
</div>
